<div class=" m-10">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <% content_for :title, "Tasks" %>

  <div class="flex justify-between items-center mb-10 mr-4">
    <h1 class="font-bold text-4xl text-white">Tasks</h1>
    <%= link_to "Nueva tarea", new_task_path,
                class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    %>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Tarea
        </th>
        <th scope="col" class="px-6 py-3">
          Descripcion
        </th>
        <th scope="col" class="px-6 py-3">
          Completada
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Mostrar</span>
        </th>
      </tr>
      </thead>

      <tbody>
      <% @tasks.each do |task| %> <!-- Iteramos sobre las tareas -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= task.tarea %> <!-- Muestra el nombre de la tarea -->
          </th>
          <td class="px-6 py-4">
            <%= task.descripcion %> <!-- Muestra la descripción de la tarea -->
          </td>
          <td class="px-6 py-4">
            <%= task.completed ? "Completada" : "No completada" %> <!-- Muestra si la tarea está completada -->
          </td>

          <td class="px-6 py-4 text-right">
            <div class="flex space-x-6">
              <%= link_to "Editar", edit_task_path(task),
                          class: "font-medium text-blue-600 dark:text-blue-500 hover:underline"
              %>
              <%= button_to "Destruir", task, method: :delete,
                          class: "font-medium text-red-600 dark:text-red-500 hover:underline",
                          data: { turbo_confirm: "¿Estás seguro de que quieres eliminar esta tarea?" }
              %>
            </div>
          </td>

        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
